/* variabili di root */
:root {
  --color-red-text-sidebar: #DB2B39;
  --color-paragraph: #4d4c4c;
  --color-footer: #1C1C1C;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

main {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}

/* Classe di debug */
.debug {
  border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
  width: 100%;
  max-width: 100%;
  display: block;
  /* Riempio l'immagine nel contenitore mantenendo le
      sue proporzioni ma ritagliando eventualmente i
      bordi per adattarla al suo contenitore */
  object-fit: cover;
}

/* body {
  background-color: #0E0E0E;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
} */


button {
  color: black;
  border: 1px solid black;
  background-color: white;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

button:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

/* --------------- Pulsanti della paginazione: da aggiungere SICURAMENTE in un suo module.css --------------- */

.button-pagination {
  /* color: black;
  border: 1px solid black;
  background-color: #F8F9FA; */
  color: var(--color-red-text-sidebar);
  border: 1px solid var(--color-red-text-sidebar);
  background-color: #F8F9FA;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

.button-pagination:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

.button-pagination.selected {
  background-color: var(--color-red-text-sidebar);
  color: white;
  border-color: var(--color-red-text-sidebar);
}

.button-pagination.previous-page:hover,
.button-pagination.next-page:hover {
  background-color: var(--color-red-text-sidebar);
  border: 1px solid #DEE2E6;
  color: white;
}

.button-pagination.previous-page,
.button-pagination.next-page {
  border-radius: 10px 0 0 10px;
  background-color: #F8F9FA;
  border: 1px solid var(--color-red-text-sidebar);
  color: var(--color-red-text-sidebar);
}

.button-pagination.next-page {
  border-radius: 0 10px 10px 0;
  background-color: F8F9FA;
  border: 1px solid var(--color-red-text-sidebar);
  color: var(--color-red-text-sidebar);
}

.button-pagination:disabled,
.button-pagination:disabled:hover {
  background-color: #DEE2E6;
  color: #6C757D;
  border: 1px solid #DEE2E6;
}

/* --------------- Fine pulsanti della paginazione: da aggiungere eventualmente in un suo module.css --------------- */