/* variabili di root */
:root {
  --color-red-text-sidebar: #DB2B39;
  --color-paragraph: #4d4c4c;
  --color-footer: #1C1C1C;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

main {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}

/* Classe di debug */
.debug {
  border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
  width: 100%;
  max-width: 100%;
  display: block;
  /* Riempio l'immagine nel contenitore mantenendo le
      sue proporzioni ma ritagliando eventualmente i
      bordi per adattarla al suo contenitore */
  object-fit: cover;
}

/* body {
  background-color: #0E0E0E;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
} */


button {
  color: black;
  border: 1px solid black;
  background-color: white;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

button:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

/* --------------- Pulsanti della paginazione: --------------- */
.button-pagination {
  /* color: black;
  border: 1px solid black;
  background-color: #F8F9FA; */
  color: var(--color-red-text-sidebar);
  border: 1px solid var(--color-red-text-sidebar);
  background-color: #F8F9FA;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

.button-pagination:hover {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 5px 15px;
}

.button-pagination.selected {
  background-color: var(--color-red-text-sidebar);
  color: white;
  border-color: var(--color-red-text-sidebar);
}

.button-pagination.previous-page:hover,
.button-pagination.next-page:hover {
  background-color: var(--color-red-text-sidebar);
  border: 1px solid #DEE2E6;
  color: white;
}

.button-pagination.previous-page,
.button-pagination.next-page {
  border-radius: 10px 0 0 10px;
  background-color: #F8F9FA;
  border: 1px solid var(--color-red-text-sidebar);
  color: var(--color-red-text-sidebar);
}

.button-pagination.next-page {
  border-radius: 0 10px 10px 0;
  background-color: F8F9FA;
  border: 1px solid var(--color-red-text-sidebar);
  color: var(--color-red-text-sidebar);
}

.button-pagination:disabled,
.button-pagination:disabled:hover {
  background-color: #DEE2E6;
  color: #6C757D;
  border: 1px solid #DEE2E6;
}

/* Media query per ridurre il font-size e il padding del testo per i dispositivi mobili: */
@media (max-width: 576px) {
  .button-pagination {
    font-size: 12px !important;
    font-weight: 600;
    padding: 5px 10px;
  }

  .button-pagination:hover {
    font-size: 12px !important;
    font-weight: 600;
    padding: 5px 10px;
  }
}

/* --------------- Fine pulsanti della paginazione --------------- */

/* --------------------- CSS INPUT FORM DI RICERCA AVANZATA --------------------- */
.filter-form:hover {
  border: 1px solid;
  border-color: var(--color-red-text-sidebar);
  box-shadow: 0 0 8px rgba(0, 95, 204, 0.3);
  /* bordo no */
  outline: none;
}

.filter-form:focus {
  border: 1px solid;
  border-color: var(--color-red-text-sidebar);
  box-shadow: 0 0 8px rgba(0, 95, 204, 0.3);
  /* bordo no */
  outline: none;
}

/* --------------------- FINE CSS INPUT FORM DI RICERCA AVANZATA --------------------- */

/* --------------- CSS personalizzato del componente Loader.jsx --------------- */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------- Fine CSS personalizzato del componente Loader.jsx --------------- */

/* --------------- Pulsanti della pagina 404 page not found: --------------- */
.btn-not-found {
  border-radius: 0px;
  color: white;
  border: 2px solid black;
  background-color: black;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600;
  padding: 10px 15px;
}

.btn-not-found:hover {
  color: white;
  border: 2px solid #90030f;
  background-color: #90030f;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 800;
  padding: 10px 15px;
}

/* --------------- Fine pulsanti della pagina 404 page not found: --------------- */

/* --------------- Impostazione del Layout a piena distanza e del footer in fondo alla pagina --------------- */
.layout {
  display: flex;
  flex-direction: column;
  /* occupa tutta l'altezza dello schermo. fa estendere il main contenuto dinamico dell'Outlet nel DefaultLayout lungo tutta l'altezza della viewport */
  min-height: 100vh;
}

.content {
  /* fa espandere il contenuto per "spingere" il footer in basso. Occupa tutto lo spazio disponibile tra header e footer:
   flex: 1: indica al <main> che deve espandersi per occupare tutto lo spazio residuo. 
   In pratica: Se il contenuto è tanto, occupa quello che serve. 
   Se è poco, occupa abbastanza spazio per spingere il footer in fondo.*/
  flex: 1;
}

/* --------------- Fine impostazione del Layout a piena distanza e del footer in fondo alla pagina --------------- */

/* ------------------------- Footer ------------------------- */
footer {
  background-color: #1C1C1C;
}

.link-footer {
  font-size: 18px !important;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  /* Forzo l'accapo quando non c'è più spazio */
  flex-wrap: wrap;
}

.link-footer:hover {
  color: var(--color-red-text-sidebar);
}
/* ------------------------- Fine footer ------------------------- */